# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg

__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

/extras

1_hg38
rsem_star_pe_Error_log.txt
rsem_star_pe_Output_log.txt
Navvy
STAR-2.6.1d
STAR-2.6.1d.tar.gz
FastQC
fastqc_tmp
extras
fastqc_v0.11.7.zip
Can_5_2_fastqc.html
Can_5_2_fastqc.zip
fastqc_v0.11.8.zip
CTR_2_2.fastq
CTR_2_1.fastq 2
CTR_2_1.fastq
CTR_1_2.fastq
CTR_1_1.fastq
Can_6_2.fastq
Can_6_1.fastq
Can_5_2.fastq
Can_5_1_fastqc.html
Can_5_1_fastqc.zip
CTR_2_2.fastq.gz
CTR_2_1.fastq.gz
CTR_1_2.fastq.gz
Homo_sapiens.GRCh38.cdna.all.fa.gz
Homo_sapiens.GRCh38.95.chr.gtf.gz
CTR_1_1.fastq.gz
Can_6_2.fastq.gz
Can_6_1.fastq.gz
Can_5_2.fastq.gz
Can_5_1.fastq
Can_5_1.fastq.gz